/*#region Scoreboard table styles  */
.scoreboardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.scoreboard {
    border: 1px solid rgba(0,0,0,0.4);
    width: 100%;
    height: 120px;
    border-collapse: collapse;
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

.scoreboard thead {
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.scoreboard tbody tr td:not(:last-child),
.scoreboard th:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.4);
}

.scoreboard tbody tr td {
    padding: 0px;
    vertical-align: top;
}

/* round table corners */
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.padding {
    padding: 8px;
    box-sizing: border-box;
}

.paddingLast {
    padding: 8px 5px;
    box-sizing: border-box;
}

    /*#region Table Input styles  */
    .scoreboard input {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
    }

    .leftInput {
        margin-top: 5px;
    }

    .rightInputContainer {
        outline: 1px solid rgba(0,0,0,0.4);
        float: right;
        padding: 5px;
    }

    .scoreboard .bottomInput {
        width: 40px;
    }
    /*#endregion  */

/*#endregion  */

/*#region Button Styles */
.btn {
    padding: 8px;
    border-radius: 3px;
    font-size: 16px;
    background-color: #0095ff;
    color: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn:active {
    cursor: grabbing;
}

.btn:focus {
    outline: 0;
}
/*#endregion  */

/*#region Media Queries */

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    li, p {
        font-size: 14px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .scoreboard:nth-child(4n),
    .scoreboard:nth-child(4n) .bottomInput {
        width: 60%;
    }
    input {
        border: 1px solid #dfdfdf;
    }
    .leftInput {
        width: 35% !important;
    }
}

/*#endregion  */
