.scoreboard {
    border: 1px solid black;
    width: 80%;
    height: 120px;
    border-collapse: collapse;
}

.scoreboard thead {
    border-bottom: thin solid black;
}

.scoreboard tbody tr td:not(:last-child),
.scoreboard th:not(:last-child) {
    border-right: thin solid black;
}

.scoreboard tbody tr td {
    padding: 0px;
    vertical-align: top;
}

/*#region Table Input sizing  */
.scoreboard input {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.leftInput {
    margin-top: 5px;
}

.rightInputContainer {
    outline: thin solid black;
    float: right;
    padding: 5px;
}

.scoreboard .bottomInput {
    width: 40px;
}
/*#endregion  */